body {
    background-color: #F8F7FF /*or any color of your choosing*/
    text-align: center;
  }
  #title {
    text-align: center;
    font-family: fantasy;
  }
  .rat {
    font-family: fantasy;
  }
  .secret {
    opacity: 0.5;
  }
  ul {
    list-style-type: none;
  }
  table {
    margin: 0px auto;
    border: 1px solid black;
  }
  th {
    border: 1px solid black;
  }
  td {
    border: 1px solid black;
  }
  #wand {
    /* color: indigo; */
  }