body {
    background-color: #F8F7FF /*or any color of your choosing*/
    text-align: center;
  }
  #title {
    text-align: center;
    font-family: fantasy;
  }
  .rat {
    font-family: fantasy;
  }
  .secret {
    opacity: 0.5;
  }
  ul {
    list-style-type: none;
  }